* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
}

hr{
    width: 98%;
    margin: auto;
}

header {
    color: chocolate;
    margin: 20px 40px;
}

nav ul{
    margin: 20px 40px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li{
    margin-left: 30px;
}

.informatin{
    margin: 40px 40px;
}

.informatin h1{
    text-align: center;
}

.informatin ul{
    margin: 30px 100px;
    list-style: circle;
}

.result{
    text-align: center;
}

table, th, td{
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
}

.stt{
    width: 5%;
}

.mahp{
    width: 10%;
}

.sotc{
    width: 10%;
}