* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Times New Roman', Times, serif; */
}

header{
    background-color: #f1f1f1;
    font-weight: bolder;
    position: sticky;
    /* background-color: brown; */
    justify-content: space-between;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
}

.btn-size{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    height: 80px;
    font-size: 24px;
}
